@font-face {
  font-family: "Atkinson Hyperlegible Regular";
  src: url("../../fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Extra Bold";
  src: url("../../fonts/WorkSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Bold";
  src: url("../../fonts/WorkSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Semi Bold";
  src: url("../../fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Extra Bold";
  src: url("../../fonts/Alegreya-ExtraBold.ttf") format("truetype");
  font-display: swap;
}