.recent-posts {
  .flex {
    flex-direction: column;
    padding: 1.25em;
    gap: var(--space-base);
  }
}

.post-header {
  margin-block-start: var(--space-size-2);

  time {
    font-size: var(--font-0);
    font-weight: 600;
  }

  .flex {
    justify-content: flex-start;
    gap: var(--space-base);
  }

  .tags-list {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-base);
    color: var(--primary);
  }
}

.blog-post {
  --flow-spacer: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);

  @media (min-width: 48em) {
    --flow-spacer: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  }

  h2,
  h3 {
    --flow-spacer: 5rem;
  }

  code {
    background: var(--background-color-lighter);
    border: var(--border-0) solid var(--color-darkest);
    border-radius: var(--radius-small);
    padding: .15em;
    font-weight: 500;
  }


  .flow>*+* {
    --flow-spacer: 1.2rem;
  }

  a {
    color: var(--primary);
    // font-weight: 600;
    text-decoration: underline;
  }
}

.recommended-posts {
  ol {
    --min: 20ch;
    --gap: var(--space-size-1);

    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
  in extra narrow spaces */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

    li {
      margin-block-start: 0;
    }
  }

  .post-list__item {
    background-color: var(--color-lightest);
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: var(--radius-medium);
    overflow: hidden;
    position: relative;
    padding: var(--space-base);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      box-shadow: var(--button-shadow-1);
      transform: translate(-2px, -2px);
    }

    h3 a {
      z-index: 1;
    }

    h3 a:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
    }

    h3 a:hover {
      color: var(--primary);
      text-decoration: none;
    }


  }
}

.new-website-grid,
.final-design-grid {
  --min: 30ch;
}