{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{# {% set pageHeaderSummary = content %} #}
{% block content %}
  {% include "partials/page-header.njk" %}
  <article>
    <div class="wrapper">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}