<!DOCTYPE html>
<html lang="en" translate="yes">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/meta-info.njk" %} <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml"/>
  </head>
  <body>
    {% include "partials/navigation.njk" %}
    <main tabindex="-1" id="main-content"> {% block content %}{% endblock %}
      </main>
      <footer class="footer flow">{% include "partials/site-footer.njk" %}</footer>
    </body>
  </html>