{% extends "layouts/base.njk" %}
{% block content %}
  {% include "partials/page-header.njk" %}
  <section class="contact">
    <div class="wrapper flow">
      {% include "partials/contact-form.njk" %}
    </div>
  </section>
{% endblock %}