{% extends "layouts/base.njk" %}
{# {% set pageHeaderTitle = title %} #}
{# Render post date and any tags that this post has been filed under #}
{# {% set pageHeaderSummary = summary %} #}
{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}
  {% block content %}
  {% include "partials/post-header.njk" %}
    <article>
      <div class="wrapper flow"> {{ content | safe }}
    </div>
    {% if recommendedPosts %}
      <footer class="recommended-posts">
        {% set postListItems = recommendedPosts %}
        {% set postListHeadline = 'More from the blog' %}
        {% include "partials/post-list.njk" %}
      </footer>
    {% endif %}
  </article>
{% endblock %}