.card {
  background-color: var(--color-lightest);
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--radius-medium);
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: var(--button-shadow-1);
    transform: translate(-2px, -2px);
  }

  .flex {
    flex-direction: column;
    gap: var(--space-size-1);
    padding: 1.25em;
  }

  &__content {
    padding: 1.25em;
  }

  h3 a {
    z-index: 1;
  }

  h3 a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
  }

  h3 a:hover {
    color: var(--primary);
    text-decoration: none;
  }

  .tag {
    position: relative;
    z-index: 2;
  }

  &__cta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}