.footer {
  margin-block-start: var(--space-size-5);
  padding-block: var(--space-size-1);
  text-align: center;
  background-color: var(--primary);
  color: var(--background-color);

  h4 {
    font-weight: 700;
  }

  p {
    max-width: 100%;
  }

  a {
    text-decoration: underline;
  }

  .flex {
    flex-wrap: wrap;
  }

  &__content {
    a {
      color: var(--primary);
    }
  }

  &__links {
    .flex {
      flex-direction: row;
      justify-content: center;
      gap: var(--space-size-1);
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.4em;

      a {
        text-decoration: none;
      }
    }
  }



  // &__content {
  //   grid-template-areas:
  //     "title title"
  //     "info links"
  //   ;
  // }

  // &__title {
  //   grid-area: title;
  // }

  // &__info {
  //   grid-area: info;
  // }

  // &__links {
  //   grid-area: links;
  // }
}