#nav-home [aria-current="page"] {
  background: inherit;
  font-weight: 600;
  padding: .4rem .5rem;
  text-decoration: none;
}


.site-head {

  a:hover {
    background: var(--secondary);
  }

  [aria-current="page"],
  [data-state="active"] {
    background: var(--secondary);
    color: var(--black);
    padding: .4rem .5rem;
    text-decoration: none;
    font-weight: 600;
  }

  &__brand {
    font-family: 'Alegreya Extra Bold', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--font-3);
    font-weight: 800;
  }

  &__inner {
    flex-wrap: wrap;
    align-items: center;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }


  li {
    list-style: none;
    padding-inline-end: 1.5em;
  }

  li:last-child {
    padding-inline-end: 0;
  }
}