---
title: 'Issue 33 Blog'
summary: 'A feed of the latest posts from our blog.'
permalink: '/feed.xml'
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
  <subtitle>{{ summary }}</subtitle>
  <link href="{{ site.url }}{{ permalink }}" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ author.name }}</name>
    <email>{{ author.email }}</email>
  </author>
  {% for item in postListItems %}
    {% set absolutePostUrl %}{{ site.url }}{{ item.url | url }}{% endset %}
    <entry>
      <title>{{ item.data.title }}</title>
      <link href="{{ item.url }}"/>
      <updated>{{ item.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">
        <![CDATA[
        {{ item.templateContent | safe }}
      ]]>
      </content>
    </entry>
  {% endfor %}
</feed>