<section id="about" class="about-short">
  <div class="wrapper flow">
    <header class="about-short__header">
      <h2>{{ aboutHome.title }}</h2>
      {# <p>{{ aboutHome.summary }}</p> #}
    </header>
    <div class="about-short__body">
      <p>I started in this world when I was asked "Do you know how to make a website?", initially I knew nothing about web
        development but still I confidently said "Yes" , a little bit of googling later and here we are. Since then, I've been
        curious about what's behind every website. Anyways, here's what I work with:
        <b>Semantic HTML, CSS, JavaScript, WordPress, Figma</b>
      </p>
    </div>
    <div class="about-short__cta cluster">
      <a class="button" href="/contact/" data-type="section-cta">Let's get started!</a>
      <a class="button" href="/about/" data-type="secondary">More about me</a>
    </div>
  </div>
</section>