<section class="recent-posts">
  <div class="wrapper flow">
    <header class="recent-posts__header">
      <h2>{{ blogHome.title }}</h2>
    </header>
    <p>From time to time I write about stuff I've been learning and also about stuff I found interesting that are worth
      mentioning.</p>
    <div class="featured-work__cta">
      <a class="button" href="/blog/" data-type="section-cta">Let's read something!</a>
    </div>
  </div>
</section>