<div class="wrapper flow">
  <div class="footer__title">
    <h4>&copy;
      <a href="/" rel="me">
        Rafael Calvo</a>
      - all rights reserved.
    </h4>
  </div>
  <div class="footer__info">
    <p>
      This website is built with
      <a href="{{ tools.11ty }}">Eleventy</a>, hosted on
      <a href="{{ tools.netlify }}">Netlify</a>, the code is on
      <a href="https://github.com/rafacalvodev/new-website">GitHub</a>.
    </p>
  </div>
  <div class="footer__links">
    <ul class="flex" role="list">
      <li>
        {% include "src/img/icons/github.svg" %}
        <a href="{{ author.githubUrl }}" rel="me">Github</a>
      </li>
      <li>
        {% include "src/img/icons/codepen.svg" %}
        <a href="{{ author.codepenUrl }}" rel="me">CodePen</a>
      </li>
      <li>
        {% include "src/img/icons/twitter.svg" %}
        <a href="{{ author.twitterUrl }}" rel="me">Twitter</a>
      </li>
      <li>
        {% include "src/img/icons/instagram.svg" %}
        <a href="{{ author.instagramUrl }}" rel="me">Instagram</a>
      </li>
      <li>
        {% include "src/img/icons/linkedin.svg" %}
        <a href="{{ author.linkedInUrl }}" rel="me">LinkedIn</a>
      </li>
    </ul>
  </div>
</div>